<div class="message-{{type}}">
  <h4 class="message-header">
    <i class="message-header-icon {{icon}}"></i>
    {{#if title}}
      <span class="message-header-text">{{title}}</span>
      {{#if close}}
        <span class="pull-right"><i class="icon-close"></i></span>
      {{/if}}
    {{/if}}
  </h4>
  {{#if readmore}}
  {{#if title}}{{else}}
    {{#if close}}<span class="pull-right"><i class="icon-close"></i></span>{{/if}}{{/if}}<p class="collapse" id="collapse-menu-{{readmore}}" aria-expanded="false">Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas
    faucibus mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed
    posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.Vestibulum
    id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus
    mollis interdum. Maecenas sed diam.Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas sed diam.
  </p>
  <div class="row">
    <div class="expand-box col-xs-12 text-center">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" href="#collapse-menu-{{readmore}}" aria-expanded="false">
        <span class="fa fa-chevron-down"></span>
        <span class="fa fa-chevron-up"></span>
      </button>
    </div>
  </div>
  {{else}}<p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. {{#if title}}<br>{{/if}}Maecenas faucibus mollis interdum. Maecenas sed diam.</p>{{#if title}}{{else}}
    {{#if close}}
      <span class="pull-right"><i class="icon-close"></i></span>
    {{/if}}
  {{/if}}
  {{/if}}

</div>
