<button class="btn btn-{{button-type}}{{#if size}} {{size}}{{/if}}{{#if block}} btn-block{{/if}}"{{#if submit}} type="submit"{{/if}}{{#if disabled}} disabled{{/if}}>{{#if icon}}<i class="icon {{icon}}" aria-hidden="true"></i>{{/if}}{{title}}</button>
{{#if showcode}}<pre class="pre-scrollable"><code class="html">&lt;button class="btn btn-{{button-type}}{{#if size}} {{size}}{{/if}}{{#if block}} btn-block{{/if}}"{{#if disabled}} disabled{{/if}}&gt;{{#if icon}}&lt;i class="icon {{icon}}" aria-hidden="true"&gt;&lt;/i&gt;{{/if}}{{title}}&lt;/button&gt;</code></pre>
{{/if}}
