<div class="card{{offset}}{{top}}{{xp}}">
  {{> @partial-block }}
</div>
{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="card{{offset}}{{top}}{{xp}}"&gt;
  ...
&lt;/div&gt;
</code></pre>{{/if}}
