<div class="form-group has-feedback">
  {{#if label}}
    <label for="{{name}}" class="control-label{{#if horizontal}} col-md-6{{/if}} {{#if sr-only}} sr-only{{/if}}">{{label}}<span tabindex="0" class="form-help" id="help-{{name}}" data-trigger="focus" data-container="body" data-toggle="popover" title="More Info Icon" data-content="This is the STANDARD more info Icon.  For more info how to use it, look in the kitdemo under FORMS"></span></label>{{#if horizontal}}
    <div class="col-md-6">{{/if}}
  {{/if}}
  <div class="select-container">
    <select name="{{name}}" class="form-control"{{#if required}} required{{/if}}>
      <option value="">Please Select</option>
      <option value="first">Option 1 - Lorem ipsum dolor sit amet</option>
      <option value="second">Option 2 - Lorem ipsum, consectetur</option>
      <option value="third">Option 3 - Lorem ipsum dolor</option>
      <option value="fourth">Option 4 - Lorem ipsum</option>
    </select>
    {{#> form/input/error}}{{/form/input/error}}
  </div>
  {{#if horizontal}}
  </div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group has-feedback"&gt;
  {{#if label}}
    &lt;label for="{{name}}" class="control-label{{#if horizontal}} col-md-6{{/if}} {{#if sr-only}} sr-only{{/if}}"&gt;{{label}}&lt;span tabindex="0" class="form-help" id="help-{{name}}" data-trigger="focus" data-container="body" data-toggle="popover" title="More Info Icon" data-content="This is the STANDARD more info Icon.  For more info how to use it, look in the kitdemo under FORMS"&gt;&lt;/span&gt;&lt;/label&gt;{{#if horizontal}}
    &lt;div class="col-md-6"&gt;{{/if}}
  {{/if}}
      &lt;div class="select-container"&gt;
        &lt;select name="{{name}}" class="form-control"{{#if required}} required{{/if}}&gt;
          &lt;option value=""&gt;Please Select&lt;/option&gt;
          &lt;option value="first"&gt;Option 1 - Lorem ipsum dolor sit amet&lt;/option&gt;
          &lt;option value="second"&gt;Option 2 - Lorem ipsum, consectetur&lt;/option&gt;
          &lt;option value="third"&gt;Option 3 - Lorem ipsum dolor&lt;/option&gt;
          &lt;option value="fourth"&gt;Option 4 - Lorem ipsum&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
    &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/span&gt;{{#if horizontal}}
  &lt;/div&gt;{{/if}}
&lt;/div&gt;</code></pre>{{/if}}

<div class="form-group has-feedback">
  {{#if label}}
    <label for="{{name}}" class="control-label{{#if horizontal}} col-md-6{{/if}} {{#if sr-only}} sr-only{{/if}}">{{label}}<span tabindex="0" class="form-help" id="help-{{name}}" data-trigger="focus" data-container="body" data-toggle="popover" title="More Info Icon" data-content="This is the STANDARD more info Icon.  For more info how to use it, look in the kitdemo under FORMS"></span></label>{{#if horizontal}}
    <div class="col-md-6">{{/if}}
  {{/if}}
  <div class="select-container input-disabled">
    <select name="{{name}}" class="form-control"{{#if required}} required{{/if}} disabled>
      <option value="">Please Select</option>
      <option value="first">Option 1 - Lorem ipsum dolor sit amet</option>
      <option value="second">Option 2 - Lorem ipsum, consectetur</option>
      <option value="third">Option 3 - Lorem ipsum dolor</option>
      <option value="fourth">Option 4 - Lorem ipsum</option>
    </select>
    {{#> form/input/error}}{{/form/input/error}}
  </div>
  {{#if horizontal}}
  </div>{{/if}}
</div>{{#if showcode}}
<pre class="pre-scrollable"><code class="html">&lt;div class="form-group has-feedback"&gt;
  {{#if label}}
    &lt;label for="{{name}}" class="control-label{{#if horizontal}} col-md-6{{/if}} {{#if sr-only}} sr-only{{/if}}"&gt;{{label}}&lt;span tabindex="0" class="form-help" id="help-{{name}}" data-trigger="focus" data-container="body" data-toggle="popover" title="More Info Icon" data-content="This is the STANDARD more info Icon.  For more info how to use it, look in the kitdemo under FORMS"&gt;&lt;/span&gt;&lt;/label&gt;{{#if horizontal}}
    &lt;div class="col-md-6"&gt;{{/if}}
  {{/if}}
      &lt;div class="select-container input-disabled"&gt;
        &lt;select name="{{name}}" class="form-control"{{#if required}} required{{/if}} disabled&gt;
          &lt;option value=""&gt;Please Select&lt;/option&gt;
          &lt;option value="first"&gt;Option 1 - Lorem ipsum dolor sit amet&lt;/option&gt;
          &lt;option value="second"&gt;Option 2 - Lorem ipsum, consectetur&lt;/option&gt;
          &lt;option value="third"&gt;Option 3 - Lorem ipsum dolor&lt;/option&gt;
          &lt;option value="fourth"&gt;Option 4 - Lorem ipsum&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
    &lt;span class="icon icon-attention form-control-feedback" aria-hidden="true"&gt;&lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;&lt;/span&gt;{{#if horizontal}}
  &lt;/div&gt;{{/if}}
&lt;/div&gt;</code></pre>{{/if}}
